body {
  background-color: #f4f2f3;
  width: 100vw;
  overflow-x: hidden;
}
.anav {
  background-color: #ffd7d2;
  color: #04049d;
  border-right: solid;
  border-left: solid;
  border-bottom: solid;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5em;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 2.5vw;
}

@media (max-width: 639px) {
  nav {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 45vw;
  }

  .anav {
    padding: 0.5rem;
  }

  .hello {
    display: block;
  }

  .me img {
    position: absolute;
    top: -18%;
    left: 40%;
    width: 20%;
  }

  .mycontainer {
    display: flex;
    flex-direction: column;
  }
}

nav {
  max-width: 90vw;
  top: 0;
  margin-left: 7%;
  position: fixed;
  z-index: 1;
}
.anav:hover {
  color: #e26d5c;
}

.me img {
  position: relative;
  width: 70%;
  border-radius: 20%;
  padding: 4%;
  top: 15%;
}

.hello {
  padding: 4vw;
  width: 90vw;
}
h1 {
  font-family: "Source Sans Pro", Black 900;
  font-size: 8vw;
  color: #e26d5c;
  text-align: center;
}
p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
  color: #472d30;
  line-height: 2rem;
}

a {
  text-decoration: none;
}

#projects {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  margin: auto;
}
.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.project {
  max-width: 90%;
  border-bottom: solid;
  border-width: 5px;
  border-color: #04049d;
  border-opacity: 0.5;
}

.plink h3 {
  font-size: 3vw;
  text-align: center;
  color: #04049d;
}

.projectcontainer {
  max-width: 30%;
}

.pnav {
  text-decoration: none;
  padding-top: 10%;
  text-align: center;
  font-size: 30px;
}

h3 {
  text-decoration: none;
  color: #073b4c;
  font-family: sans-serif;
}
#disclaimer {
  margin-left: 5%;
  max-width: 30%;
  margin-top: 0%;
  font-size: 3vw;
}
h2 {
  position: relative;
  text-align: right;
  left: -10%;
  color: #472d30;
  font-size: 4.5vw;
  font-family: sans-serif;
}

.contactinfo {
  color: white;
}
.mycontainer {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

#intro {
  width: 200px;
  margin: 100px auto 0;
}

.button {
  display: inline-block;
  text-decoration: none;
  position: relative;
  margin-top: 40px;
}

.button .bottom {
  position: absolute;
  left: 7px;
  top: 7px;
  width: 100%;
  height: 100%;
  background-color: #ffd7d2;
  display: block;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.button .top {
  border-radius: 5px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 24px 34px 22px 34px;
  border: 2px solid #04049d;
}

.button-dark .top {
  border: 2px solid #fff;
}

.button .top .label {
  font-family: sans-serif;
  font-weight: 600;
  color: #04049d;
  font-size: 12px;
  line-height: 110%;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.button-dark .top .label {
  color: #fff;
}

.button:hover .bottom {
  left: 0;
  top: 0;
  background-color: #f3f3f3;
}

.button:hover .top .label {
  color: #2acdc1;
}

.button-border {
  position: absolute;
  background-color: #2acdc1;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.button:hover .top .button-border-left,
.button:hover .top .button-border-right {
  height: calc(100% + 2px);
}

.button:hover .top .button-border-top,
.button:hover .top .button-border-bottom {
  width: calc(100% + 2px);
}

.button-border-left {
  left: -2px;
  bottom: -2px;
  width: 2px;
  height: 0;
}

.button-border-top {
  left: -2px;
  top: -2px;
  width: 0;
  height: 2px;
}

.button-border-right {
  right: -2px;
  top: -2px;
  width: 2px;
  height: 0;
}

.button-border-bottom {
  right: -2px;
  bottom: -2px;
  width: 0;
  height: 2px;
}
footer {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-size: 2vw;
  color: gray;
}
