body{background-color:#E9ECF7}
nav{position: fixed;
  display:flex;
  flex-direction:column;
  min-width: 330px;
  top: 30px;
  left: 0px;
  width: 22%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  border-color: rgba(0, 22, 22, 0.4);}
a:hover{transform:translate(10px)}
h1{font-size:50px; text-align:center; margin-top:50px; margin-bottom:50px; font-family: 'DM Serif Display', serif;}
a{text-decoration: none;
font-size:24px;
border-bottom:solid; border-right:solid; padding:8px; padding-left:15px; border-radius:5px; border-color:#373A3E; color:black ;}
main{margin-left: 28%; margin-top:2.5%; margin-right:3%; text-align:justify;}
header{font-size:30px; padding:30px; font-family:'DM Serif Display', serif;}
code{background-color: lightblue; border-radius:5px; font-size: 20px; padding-top: 15px; padding-bottom: 15px; padding-left:10px; padding-right:10px; margin: auto;}
li, p{font-size:23px; font-family: 'Poppins', sans-serif;}
li{font-size:23px;}
img{margin-left:100px; max-width:40%; border-radius:5px}
body{display:flex;}
#null{display:none;}
section{padding-left:2%}

@media (max-width: 815px){
  nav{position:absolute; width:100%; max-height: 300px; top:0; padding:0px;}
  main{position:relative; width:100%; top:600px; margin:2px;}
  header{font-size: 26px; z-index:1; text-align:center; padding-bottom:5px; margin-top:15px;}
  li, p{font-size:21px}
  h1{font-size: 43px; margin-top:10px; margin-bottom:5px;}
  a:hover{transform:none}
  img{max-width:70%; dispplay:block; margin-left:auto; margin-right:auto;}
  code{font-size:11px;     width: 100%;
    min-width: 233px; margin-left:0px; margin-right:0px;}
}
